.container-fluid {
  background-color: #20a39e;
  height: 100vh;
}

.home {
  height: 100vh;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-around;
  padding: 0;
}

.nav-ul li {
  background-color: #edebd7;
  border-radius: 50px;
  list-style-type: none;
  padding: 25px;
}

@keyframes ghost {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}

.nav-ul li a img {
  transition: all 1s;
}

.nav-ul li a img:hover {
  transform: scale(2.1) rotate(360deg);
}

.subtitle {
  animation: bigger 2s;
  color: #edebd7;
  font-family: "Courier Prime", monospace;
  font-size: 125px;
  text-shadow: -28px 28px 3px rgba(237, 235, 215, 0.25);
}

.social-links {
  background-color: #000;
  border-radius: 25px;
}

@keyframes bigger {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.shadow-box {
  animation: upside 2s;
  background-color: #181818;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

@keyframes upside {
  0% {
    transform: translateY(110%);
    opacity: 0;
  }

  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

label {
  color: #fff;
  font-family: "Comfortaa", cursive;
}

textarea {
  resize: none;
}

.shadow-box button {
  font-family: "Comfortaa", cursive;
}

@keyframes unghost {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .nav-ul li:nth-child(1) {
    animation: ghost 1s;
  }

  .nav-ul li:nth-child(2) {
    animation: ghost 1.3s;
  }

  .nav-ul li:nth-child(3) {
    animation: ghost 1.6s;
  }

  .nav-ul li:nth-child(4) {
    animation: ghost 1.9s;
  }

  .nav-ul li:nth-child(5) {
    animation: ghost 2.2s;
  }
}

@media (max-width: 767px) {
  .nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  .nav-ul li {
    margin: 10px 0;
    padding: 25px;
  }

  ul li:nth-child(1) {
    animation: unghost 1s;
  }

  ul li:nth-child(2) {
    animation: unghost 1.3s;
  }

  ul li:nth-child(3) {
    animation: unghost 1.6s;
  }

  ul li:nth-child(4) {
    animation: unghost 1.9s;
  }

  ul li:nth-child(5) {
    animation: unghost 2.2s;
  }

  .subtitle {
    font-size: 50px;
  }

  .shadow-box {
    height: 45%;
  }
}
