* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: nowrap;
}

nav {
  height: 100vh;
  width: 10vw;
}

nav ul {
  padding-top: 30vh;
}

nav ul li {
  list-style-type: none;
  margin: 25% 35%;
}

nav ul li a img {
  height: 30px;
  transition: all 1s;
  width: 30px;
}

nav ul li a img:hover {
  transform: scale(2.5) rotate(360deg);
}

#mainContent {
  height: 100vh;
  padding-left: 5%;
  width: 90vw;
}

.topDiv {
  height: 20vh;
}

.topDiv h2 {
  font-family: 'Lobster';
  font-size: 75px;
  font-weight: 700;
  margin-right: 10%;
  text-align: center;
}

.centralContent {
  display: flex;
  height: 80vh;
  flex-wrap: nowrap;
  margin-right: .5%;
}

#formalEducation {
  animation: education 2s;
  width: 33%;
}

@keyframes education {
  from {
    transform: translateX(-750px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#formalEducation h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  text-align: left;
}

#formalEducation p {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  text-align: left;
}

#noformalEducation {
  animation: normalE 2s;
  width: 33%;
}

@keyframes normalE {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#noformalEducation h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  text-align: center;
}

#noformalEducation p {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  text-align: center;
}

#informalEducation {
  animation: informal 2s;
  width: 33%;
}

@keyframes informal {
  from {
    transform: translateX(-1250px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

#informalEducation h2 {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  text-align: right;
}

#informalEducation p {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
  text-align: right;
}

#informalEducation p a, #noformalEducation p a {
  color: #000;
  text-decoration: underline;
}
