.container-fluid {
  background-color: #20a39e;
  height: 100vh;
}

.home {
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: space-around;
  padding: 0;
}

ul li {
  background-color: #edebd7;
  border-radius: 50px;
  list-style-type: none;
  padding: 25px;
}

@keyframes ghost {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}

ul li a img {
  transition: all 1s;
}

ul li a img:hover {
  transform: scale(2.1) rotate(360deg);
}

.title {
  animation: bigger 2s;
  color: #edebd7;
  font-family: "Courier Prime", monospace;
  font-size: 150px;
  text-shadow: -28px 28px 3px rgba(237, 235, 215, 0.25);
}

@keyframes bigger {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.corner-box {
  background-color: #fff;
  border-radius: 25px;
}

h3,
p,
a,
button,
h4 {
  font-family: "Comfortaa", cursive;
  color: #000022;
}

.h-fifty {
  height: 50vh;
}

.img-fluid {
  animation: profile 3s;
}

@keyframes profile {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  ul li:nth-child(1) {
    animation: ghost 1s;
  }

  ul li:nth-child(2) {
    animation: ghost 1.3s;
  }

  ul li:nth-child(3) {
    animation: ghost 1.6s;
  }

  ul li:nth-child(4) {
    animation: ghost 1.9s;
  }

  ul li:nth-child(5) {
    animation: ghost 2.2s;
  }
}

@media (max-width: 767px) {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 100%;
  }

  ul li {
    margin: 10px 0;
    padding: 25px;
  }

  .title {
    font-size: 75px;
  }

  .subtitle {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }
}
