* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-wrap: nowrap;
}

nav {
  height: 100vh;
  width: 10vw;
}

nav ul {
  padding-top: 30vh;
}

nav ul li {
  list-style-type: none;
  margin: 25% 35%;
}

nav ul li a img {
  height: 30px;
  transition: all 1s;
  width: 30px;
}

nav ul li a img:hover {
  transform: scale(2.5) rotate(360deg);
}

#mainContent {
  height: 100vh;
  padding-left: 5%;
  width: 90vw;
}

#mainContent p {
  font-family: 'Lobster Two', cursive;
  font-size: 20px;
}

.topDiv {
  height: 20vh;
  margin: 0;
  padding: 0;
}

.topDiv h2 {
  font-family: 'Lobster';
  font-size: 75px;
  margin-right: 10%;
  margin-top: 2.5%;
  text-align: center;
}

.devData {
  animation: dataDev;
  animation-duration: 2s;
  display: flex;
  flex-wrap: wrap;
}

@keyframes dataDev {
  0% {
    transform: translateX(-750px);
    opacity: 0;
  }

  75% {
    transform: translateX(0px);
    opacity: .5;
  }

  90% {
    transform: translateX(0px);
    opacity: .9;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.itJobs {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10%;
  box-shadow:
  height: 65vh;
  margin: 0 2.5%;
  padding: 5% 0;
  text-align: center;
  width: 27.5%;
}

.itJobs h3 {
  font-size: 50px;
  font-family: 'Lobster';
  text-align: center;
}

.itJobs h6 {
  font-family: 'Lobster';
  font-size: 30px;
}

.itJobs a {
  text-decoration: none;
}

.itJobs a button {
  border-radius: 5%;
  display: block;
  font-family: 'Comfortaa', cursive;
  font-size: 700;
  padding: 2.5%;
}

#promasa img {
  display: block;
  margin: 0 20%;
  padding-top: 5%;
  width: 15vw;
}

#maikai img {
  display: block;
  height: 20vh;
  margin: 0 25%;
  padding-top: 5%;
}

#digitalKey img {
  display: block;
  margin: 0 20%;
  padding-top: 20%;
  width: 15vw;
}

#promasa a button {
  margin: 18% 0 0 40%;
  transition: all 1s;
}

#promasa a button:hover {
  transform: scale(1.5);
}

#maikai a button {
  margin: 5% 0 0 40%;
  transition: all 1s;
}

#maikai a button:hover {
  transform: scale(1.5);
}

#digitalKey a button {
  margin: 19% 0 0 45%;
  transition: all 1s;
}

#digitalKey a button:hover {
  transform: scale(1.5);
}
