/*@media (min-width: 765px) {*/
  * {
    font-family: 'Lato', sans-serif;
    margin: 0;
  }

  /*Menu styles*/

  header {
    height: 5vh;
    margin: 0;
    padding: 0;
    width: 100vw;
  }

  .menu {
    background-color: #fff;
    height: 5vh;
    margin: 0;
    padding-top: 15px;
    position: fixed;
    width: 100vw;
    z-index: 1;
  }

  .menu li {
    color: rgba(12,141,148, 0.8);
    display: inline;
    font-size: 16px;
    font-weight: 600;
    list-style-type: none;
    padding: 0 15px;
    transition: all 1s;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: rgba(12,141,148, 0.8);
  }

  a:visited {
    color: rgba(12,141,148, 0.1);
  }

  .home-logo {
    height: 90vh;
    width: 100vw;
  }

  /*Main Image*/

  #home-img {
    height: 80vh;
    margin: 5% 5%;
    width: 90vw;
  }

  #home-img img {
    animation: start-img 2s, click-img 2s infinite 2s;
    height: 600px;
    margin: 0 25%;
    width: 550px;
  }

  @keyframes start-img {
    0% {
      transform: scale(2);
      opacity: 0;
    }

    50% {
      opacity: .5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes click-img {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(.99);
    }
    90% {
      transform: scale(1);
    }
    100%{
      transform: scale(1);
    }
  }

  .Boxes {
    margin: 50px 0;
  }

  h3 {
    font-size: 32px;
  }

  #AboutUsPyImg {
    display: flex;
    flex-wrap: nowrap;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
  }

  #Us, #logoRight {
    width: 40%;
  }

  #Us p {
    display: inline;
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
  }

  #logoRight img {
    width: 100%;
  }

  #services-boxes {
    background-image: url(../images/shadeDK.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
  }

  .box-serv {
    width: 40%;
  }

  h4 {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    margin: 25px 0;
    width: 100%;
  }

  .box-serv p {
    display: inline;
    font-size: 24px;
    font-weight: 300;
  }

  .box-icon-img {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .icons-img {
    margin: 25px;
    width: 10%;
  }

  .icons-img img {
    width: 32px;
  }

  .sentences p {
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    margin: 10px 25px;
  }

  .sentences span img {
    width: 25px;
  }

  footer {
    background-color: rgba(12,141,148, 0.8);
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 15vh;
  }

  #address {
    width: 20vw;
  }

  #address p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 25px;
  }

  #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
  }

  #social-media .channels {
    width: 20%;
  }

  .channels a {
    color: rgba(255,255,255, 0.7);
  }

  .channels a img {
    width: 32px;
  }


/*
}


/*
@media (max-width: 820px) {
    body {
      margin: 0px;
  }

  .Boxes {
      margin-top: 10%;
      }

  header {
    width: 100%;
    height: 100px;
    }

  nav {
    width:100%;
    height: 100px;
    }

  a {
      text-decoration: none;
      font-weight: bold;
  }

  a:visited {
      color: #097B84;
  }

  a:link {
      color: #097B84;
  }

  ul a:hover {
      background-color: #F8F8F8;
      font-size: 15px;
  }

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 100%;
  }

  li {
    text-align: center;
    font-size: 14px;
  }

  li a {
    display: block;
    padding: 1px;
  }

  #NavLogo {
      width: 100%;
      height: 100%;
      align: center;
  }

  #logo {
      height: 50%;
      width: 50%;
      margin-top: 5%;
      margin-left: 25%;
  }

#AboutUs {
    margin: 10px;
}

#AboutUsPyImg {
    justify-content: center;
    align-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
    margin: 0%;
}

#Us {
    width: 100%;
}

#Us p {
    font-size: 18px;
    text-align: justify;
}

#logoRight {
    display: ;
    width: 100%;
    height: 100%;
}

#blue {
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

#Services {
    margin: 10px;
}

  #DyOPyI {
    width: 100%;
    }

  #DesignOrtography {
    width: 100%;
    }

  h4 {
    font-size: 20px;
}

  #DyO {
    width: 100%;
    }

  #DesignOrtography p {
    text-align: justify;
    font-size: 18px;
}

  #dYoT {
    width: 100%;
    }

  #iconsDyO {
    width: 100%;

}

  #iconsD {
    width: 100%;
    height: 100%;
    }

#Design {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

#Ortography {
  width: 100%;
  height: 100%;
  }

#imgO {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}

#ShadeLogo {
  display: none;
  }

#Digitalizacion {
  width: 100%;
  padding: 12% 0;
  }

#Digitalizacion p {
    font-size: 18px;
    text-align: justify;
}

#DigitalT {
    height: 100%;
    }

#iconsDigital {
    width: 100%;
    display: flex;

}

#iconsScan {
    width: 33%;
    padding: 5%;
}

#scan {
    height: 100%;
    width: 100%;
}

#iconsMac {
    width: 33%;
    padding: 5%;
}

#Mac {
    height: 100%;
    width: 100%;
}

#iconsMobile {
    width: 33%;
    padding: 5%;
}

#Mobile {
    height: 100%;
    width: 100%;
}

#Advantages {
  margin: 10px;
}

#Sentences p {
    font-size: 18px;
    line-height: 200%;
}

#AdvImg {
    display: block;
}

#Sentences {
  width:100%;
  text-align: justify;
}

  #Sentences img {
    display: block;
    margin-left: 45%;
    padding-top: 5%;
  }

#CornerShadeLogo {
  width: 100%;
}

#CornerShade {
    height: 30%;
    width: 50%;
  margin-left: 50%;
    }

footer {
  background-color: #575756;
  padding: 2px 0;
  }

#Info {
  width: 90%;
  }

#Info p {
  width: 100%;
  margin: 10px;
  font-weight: 600;
  font-size: 10px;
  }

#SocialMedia {
  width: 95%;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-wrap: no-wrap;
  }

  #SocialMedia a{
    font-size: 10px;
  }

#footer img {
  height: 100%;
  width: 25%;
  margin: 0;
  }

#FB {
    width: 25%;
    text-align: center;
}

#Lkdn {
    width: 25%;
    text-align: center;
}

#Insta {
    width: 25%;
    text-align: center;
}

#Email {
    width: 25%;
    text-align: center;
}
}
