@media (min-width: 768px) {
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
  }

  header {
    height: 100%;
    width: 100%;
  }

  #topp {
    background-color: rgba(0, 84, 164, 1);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 200;
  }

  #homeimg {
    padding-top: .5%;
    padding-left: 1%;
    width: 15%;
  }

  #promasaBlue {
    position: absolute;
    width: 7.5%;
    z-index: -2;
    }

  #promasaWhite {
    width: 50%;
    }

  nav {
    margin: 0;
    padding-top: 1%;
    width: 83%;
  }

  nav ul {
    text-align: right;
  }

  nav ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
  }

  nav ul li, nav ul li a {
    color: #FFF;
    font-family: Barlow, sans-serif;
    font-size: 1vw;
    letter-spacing: 2px;
    margin: 0;
    padding: 5px;
    text-decoration: none;
  }

  nav ul li a:hover {
    border-bottom: 1px solid #FFF;
  }

  #contact {
    padding: 5% 2% 0 2%;
    width: 100%;
  }

  .data {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }

  .data h2 {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 3vw;
  }

  .data p {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 1.5vw;
    line-height: 200%;
    margin-top: 4%;
  }

  #phonemail {
    width: 50%;
  }

  #subscription {
    width: 50%;
  }

  #subscription h2 {
    margin-bottom: 4%;
  }

  form {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 1.5vw;
  }

  input[type=text], input[type=tel], input[type=email], textarea {
    border: 1px solid rgba(0, 84, 164, .3);
    border-radius: 25px;
    height: 25px;
    padding-left: 2.5%;
    width: 75%;
  }

  ::placeholder {
    color: rgba(0, 84, 164, .3);
    font-family: Barlow, sans-serif;
  }

  button {
    color: rgba(0, 84, 164, 1);
    background-color: rgba(0, 84, 164, .2);
    border: 1px solid rgba(0, 84, 164, .3);
    border-radius: 25px;
    font-family: Barlow, sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    height: 40px;
    letter-spacing: 3px;
    margin-left: 15%;
    margin-top: 4%;
    transition: background-color, .5s;
    transition: transform, .3s;
    width: 50%;
  }

  button:active {
    transform: scale(.85);
  }

  button:hover {
    background-color: rgba(0, 84, 164, .5);
  }

  #maps{
    margin-bottom: 5%;
    width: 100%;
  }

  footer {
    background-color: rgba(0, 84, 164, 1);
    display: flex;
    flex-wrap: wrap;
  }

  footer div {
    margin: 2% .5% 2% .5%;
    width: 32%;
  }

  #promasaWhiteFooter {
    left: 10%;
    position: relative;
    top: 10%;
    width: 70%;
  }

  .information h2 {
    font-family: Barlow, sans-serif;
    font-size: 2vw;
  }

  .information p {
    font-family: Barlow, sans-serif;
    font-size: 1vw;
    text-align: justify;
  }

  .socialMedia {
    margin-left: 1.5%;
  }

  .socialMedia p {
    font-family: Barlow, sans-serif;
    font-size: 2vw;
    padding: 0 0 0 0%;
    text-align: center;
  }

  .socialMediaIcons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .socialMediaIcons div {
    width: 32%;
  }

   #facebook {
     width: 100%;
   }

   #instagram {
     left: 15%;
     position: relative;
     top: 20%;
     width: 60%;
   }

   #email {
     left: 10%;
     position: relative;
     top: 8%;
     width: 85%;
   }
}

@media (max-width: 768px){
  * {
    border: 0;
    box-sizing: border-box;
    margin: 0;
  }

  header {
    height: 100%;
    width: 100%;
  }

  #topp {
    background-color: rgba(0, 84, 164, 1);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    z-index: 200;
  }

  #homeimg {
    padding-top: .5%;
    padding-left: 1%;
    width: 15%;
  }

  #promasaWhite {
    width: 75%;
  }

  nav {
    margin: 0;
    padding: 0;
    width: 80%;
  }

  nav ul {
    text-align: right;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
  }

  nav ul li, nav ul li a {
    color: #FFF;
    font-family: Barlow, sans-serif;
    font-size: 1.5vw;
    letter-spacing: 2px;
    margin-top: 2.5%;
    padding: 0 1px 0 1px;
    text-decoration: none;
  }

  nav ul li a:hover {
    border-bottom: 1px solid #FFF;
  }

  #contact {
    padding: 5% 2% 0 2%;
    width: 100%;
  }

  .data {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 2% 0;
  }

  .data h2 {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 3vw;
  }

  .data p {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 2vw;
    line-height: 200%;
    margin-top: 4%;
  }

  #phonemail {
    width: 75%;
  }

  #subscription {
    margin-top: 2.5%;
    width: 75%;
  }

  #subscription h2 {
    margin-bottom: 4%;
  }

  form {
    color: rgba(0, 84, 164, 1);
    font-family: Barlow, sans-serif;
    font-size: 2vw;
  }

  input[type=text], input[type=tel], input[type=email], textarea {
    border: 1px solid rgba(0, 84, 164, .3);
    border-radius: 25px;
    height: 25px;
    padding-left: 2.5%;
    width: 100%;
  }

  ::placeholder {
    color: rgba(0, 84, 164, .3);
    font-family: Barlow, sans-serif;
    font-size: 2vw;
  }

  button {
    color: rgba(0, 84, 164, 1);
    background-color: rgba(0, 84, 164, .2);
    border: 1px solid rgba(0, 84, 164, .1);
    border-radius: 25px;
    font-family: Barlow, sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    height: 25px;
    letter-spacing: 3px;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: background-color, .5s;
    transition: transform, .3s;
    width: 50%;
  }

  button:active {
    transform: scale(.85);
  }

  button:hover {
    background-color: rgba(0, 84, 164, .5);
  }

  #maps{
    margin-bottom: 5%;
    width: 100%;
  }

  #maps iframe {
    height: 100%;
    width: 100%;
  }

  footer {
    background-color: rgba(0, 84, 164, 1);
    display: flex;
    flex-wrap: wrap;
  }

  footer div {
    margin: 2% .5% 2% .5%;
    width: 32%;
  }

  #promasaWhiteFooter {
    left: 10%;
    position: relative;
    top: 10%;
    width: 70%;
  }

  .information h2 {
    font-family: Barlow, sans-serif;
    font-size: 2vw;
  }

  .information p {
    font-family: Barlow, sans-serif;
    font-size: 1vw;
    text-align: justify;
  }

  .socialMedia {
    margin-left: 1.5%;
  }

  .socialMedia p {
    font-family: Barlow, sans-serif;
    font-size: 2vw;
    padding: 0 0 0 0%;
    text-align: center;
  }

  .socialMediaIcons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .socialMediaIcons div {
    width: 32%;
  }

   #facebook {
     width: 100%;
   }

   #instagram {
     left: 15%;
     position: relative;
     top: 20%;
     width: 60%;
   }

   #email {
     left: 10%;
     position: relative;
     top: 8%;
     width: 85%;
   }
}
